body {
    max-width: 760px;
    margin: 0 auto;
    padding: 25px;
    color: #333333;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    font-size: 16px;
    line-height: 1.6;
  }
  
  h1 {
    line-height: 1;
  }
  
  h2 {
    border-bottom: solid 1px #aaa;
  }
  
  code {
    border-radius: 5px;
    background-color: #eee;
    display: inline-block;
    padding: 0 8px;
    font-family: Consolas, Courier, monospace;
  }
  